@import url(https://fonts.googleapis.com/css?family=Bricolage+Grotesque:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import "tailwindcss";

body{
  @apply bg-[#02012B]
}
.soften{
  @apply transition-all duration-200 ease-in-out
}
* {
  font-family: 'DM Sans';
}
button {
  @apply hover:cursor-pointer
}
.heading-text {
  font-family: 'Bricolage Grotesque';
}